@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
    /* The image used */
    background-image: url("./images/pokemon-background.png");
  
    /* Set a specific height */
    min-height: 640px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #79c9f9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffcb08;
}